#background {
	-fx-background-image: url("data/images/725e5dc00ba49c240cd489e7b87e0496.jpg");
}

#character {
	-fx-background-image: url("data/images/icon.png");
	-fx-background-size: contain;
	-fx-background-color: #28c401;
}

#play {
	-fx-font: 24px Ariel;
}

.button {
	-fx-background-color: #28c401;
	-fx-font: 16px SansSerif;
	-fx-text-fill: #000000;
	-fx-effect: dropshadow(gaussian, #c8c8c8, 3, 1.0, 0, 0);
}

.button:hover {
	-fx-background-color: rgb(0,255,64);
}