/*
 * @author Ivy Vasquez Sandoval (egi444)
 */
 
#background {
	-fx-image: url("data/images/725e5dc00ba49c240cd489e7b87e0496.jpg");
}

.button {
	-fx-background-color: #28c401;
	-fx-font: 24px SansSerif;
	-fx-text-fill: #000000;
	-fx-effect: dropshadow(gaussian, #c8c8c8, 3, 1.0, 0, 0);
}

.button:hover {
	-fx-background-color: rgb(0,255,64);
}

.label {
	-fx-font: 36px Ariel;
	-fx-text-fill: #000000;
}

