#background {
	-fx-background-image: url("data/images/725e5dc00ba49c240cd489e7b87e0496.jpg");
}

.button {
	-fx-cursor: hand;
	-fx-background-color: #28c401;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 24px;
	-fx-effect: dropshadow(gaussian, #c8c8c8, 3, 1.0, 0, 0);
}

.button:hover {
	-fx-background-color: #00ff40;
}

.label {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 24px;
	-fx-text-fill: white;
}

